<h1>Página de Cadastro e Geração de Senhas para Beneficiário(a):</h1>
<form action="/add-cadastro" method="POST">
    
    <label>Nome</label>
    <input type="text" name="nome"><br><br>

    <label>CPF</label>
    <input type="text" name="cpf"><br><br>

    <label>Data de Nascimento</label>
    <input type="date" name="nascimento"><br><br>
    
    <label>Número do Cartão</label>
    <input type="text" name="cartao"><br><br>

    <label>Email</label>
    <input type="text" name="email"><br><br>
<div>
    <label>Atendimento</label><br><br>
    <input type="checkbox" id="cadastro1" name="atendimento" value="Cadastro">
    <label for="cadastro1">Cadastro</label><br><br>
    <input type="checkbox" id="autorizacao1" name="atendimento" value="autorizacao">
    <label for="autorizacao1"> Autorizacao</label><br><br>
    <input type="checkbox" id="cartao1" name="atendimento" value="cartao">
    <label for="cartao1">Cartao</label><br><br>
    <input type="checkbox" id="financeiro1" name="atendimento" value="financeiro">
    <label for="financeiro1">Financeiro</label><br><br>
</div>



    <button type="submit">Cadastrar</button>
</form>